@font-face {
    font-family: 'Museo Sans';
    src: url('~@/assets/fonts/MuseoSans100.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('~@/assets/fonts/MuseoSans300.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('~@/assets/fonts/MuseoSans500.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('~@/assets/fonts/MuseoSans700.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('~@/assets/fonts/MuseoSans900.otf') format('opentype');
    font-weight: 900;
}
